.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.title-section h1{
    font-weight: 300;
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: capitalize;
}

.title-section p{
    max-width: 520px;
    text-align: center;
}

@media only screen and (max-width: 550px) {
    .title-section h1{
        text-align: center;
    }
}

.bg-blue{
    background: var(--primary-color);
}

.bg-gray{
    background: var(--primary-background);
}
